Package: CommandUtils
Section: Apps
Version: 1.0
Packager: cmd430
Email: cmd430@gmail.com
Homepage: https://github.com/cmd430/WD_PR4100_OS5_Packages
Description: Command line utilities
AddonShowName: CommandUtils
Icon: icon.png
AddonIndexPage:
AddonUsedPort:
InstDepend:
InstConflict:
StartDepend:
StartConflict:
Centertype: 1
UserControl: 0
MinFWVer: 5.0.0
MaxFWVer:
IndividualFlags: