Package: PersistentSSH
Section: Apps
Version: 1.0
Packager: cmd430
Email: cmd430@gmail.com
Homepage: https://github.com/cmd430/WD_PR4100_OS5_Packages
Description: Ensures .ssh directory is kept between reboots.
AddonShowName: Persistent SSH
Icon: PersistentSSH.png
AddonIndexPage:
AddonUsedPort:
InstDepend:
InstConflict:
StartDepend:
StartConflict:
Centertype: 1
UserControl: 0
MinFWVer: 3.10.111
MaxFWVer:
IndividualFlags: